<section>
  {{#each data }}
  <div class="canvas-cont">
    <h1>{{company}}</h1>
    <button type="submit" class="delete"><a href="/delete/{{this._id}}">DELETE</a></button>
    <canvas id="{{this.company}}">
    </canvas>
  </div>
  {{/each}}
</section>